* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: black;
  --secondary-color: aliceblue;
  --placeholder-color: rgba(240, 248, 255, 0.438);
  --background-color:coral;
  --back-color:white;
}
.dark{
  --main-color: aliceblue;
  --secondary-color: black;
  --placeholder-color: rgba(240, 248, 255, 0.438);
  --background-color:coral;
  --back-color:black;
}

::-webkit-scrollbar {
  display: none;
}
Link,button {
  cursor: pointer;
}
.appContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color:var(--back-color) !important;
}
.homeContainer {
  display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;
}
.slideContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: max-content;
  gap: 5vh;
  align-items: center;
  border-right: 1px solid var(--main-color);
  padding: 1vh;
  background-color:var(--back-color) !important;
  text-align: center;
}
.headnote{
  color:var(--main-color);
}
.slideContainer button,
.noteContainer button {
  border: none;
  background-color: transparent;
}
.slideContainer svg {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.noteContainer svg {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.mainContainer {
  width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 7vh;
    height: 100vh;
    overflow: overlay;
    padding: 0 6vw;
    background-color:var(--back-color);
  
}
.homeMainContainer{
  margin: 0 auto;
  width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 7vh;
    height: 100vh;
    overflow: overlay;
}
.mainContainer h1 {
  font-size: 60px;
  font-weight: 500;
}
.noteContainer {
  width: 17vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 9%;
  background-color: var(--background-color);
  padding: 3vh;
}
.noteFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 17vw;
  padding: 3vh;
  padding-bottom: 0;
}
.noteFooter h5 {
  font-weight: 500;
}
.searchContainer {
  width: 100%;
    overflow: hidden;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vh;
    margin-top: 1vw;
}
.searchContainer2{
  display: flex;
  gap: 1vh;
  align-items: center;
  justify-content: center;
}
.searchBar {
  right: 0;
  margin-top: 1vh;
  height: 100%;
  width: 20vw;
  background: transparent;
  border: transparent;
  font-size: 20px;
  color: var(--button-color);
  cursor: pointer;
  outline: 0;
}
.noteShelfContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  overflow: overlay;
}
.newNoteContainer {
  width: 50vw;
    height: max-content;
    background-color: var(--background-color);
    border-radius: 20px;
    padding: 20px;
}
label {
  font-size: xx-large;
  font-weight: 600;
  color: var(--secondary-color);
}
.titleNote {
  display: flex;
  flex-wrap: wrap;
  gap: 3vh;
  width: 50vw;
  background: transparent;
  border: transparent;
  font-size: 25px;
  color: var(--button-color);
  cursor: pointer;
  outline: 0;
  text-align: left;
  font-weight: 500;
  color: var(--secondary-color);
  border: none;
  padding: 5px;
  margin: 2vh 1vh 2vh 1vh;
}
.titleNote::placeholder {
  color: var(--placeholder-color);
}
.buttonSave{
  padding: 10px;
  background-color: var(--secondary-color);
  color: var(--main-color);
  border: none;
  border-radius: 5px;
  margin-left: 91%;
    margin-top: 2%;
}
.links,.logNav{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 25px;
}
.link ,.link:visited ,.link:active,.link:hover{
  text-decoration: none;
  color: var(--main-color);
  font-size: 20px;
  font-weight: 700;
}
.logContainer{
  width: 80vw;
  margin: 0 auto;

}
.form{
    
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
.input{
    display: block;
    height: 50px;
    width: 100%;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
.login h1{
  color: var(--background-color);
}
.login label{
  color: var(--main-color);
}
.login button{
    margin-top: 50px;
    width: 100%;
    background-color: var(--background-color);
    color: var(--main-color);
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.linklogo,.linklogo:visited ,.linklogo:active,.linklogo:hover{
  text-decoration: none;
  font-size: 25px;
  font-weight: bolder;
  color:var(--background-color)
}
.logNav svg{
  cursor: pointer;
}
.dropColors{
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
 
}
.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  
  animation: animate 3s alternate 1;
  animation-duration: 2s; 
}
@keyframes animate{
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-30px);
  }
  100%{
    transform: translateY(0px);
  }
}
.color:nth-child(1){
  animation-delay: 0.2s;
  background-color: var(--background-color) !important;
}
.color:nth-child(2){
  animation-delay: 0.4s;
  background-color: blueviolet !important;
}
.color:nth-child(3){
  animation-delay: 0.6s;
  background-color: maroon !important;
}
.color:nth-child(4){
  animation-delay: 0.8s;
  background-color: mediumblue !important;
}
.textToggle{
  text-align: end;
  margin-top: 1vh;
  margin-right: 4vw;
  line-height: 1.5;
  font-weight: 600;
}